header{
  background-color: lightgreen;
  text-align: center;
  padding: 10px 10px 10px;
  border: 0px;
  padding: 10px;
  margin: 0px

}
  
main{
  font-family: Times New Roman;
  text-align: justify;
  box-shadow: 5px 5px 5px gray;
  background-color: #FFD256;
 
 
  border: 0px;
  padding: 10px;
  margin: 0px

}

h2{
  background-color: orange;
  border-radius: 5px;
  box-shadow: 2px 5px 3px gray;
}

footer{
  background-image: linear-gradient(to right, orange,gray);
  font-family: Times New Roman;
  text-align: center;
  font-family: Times New Roman;
  border: 0px;
  padding: 10px;
  margin: 0px
}